
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Press Start 2P', cursive;
    list-style: none;
  }
  
body{
  display: flex;
  max-width: 100vw;
  height: 100vh;
  color: AZURE;
  flex-direction: column;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
}

:root{
	--colorsky: linear-gradient(180deg, #87ceeb, #e0f6ff);
  --colorterra: #c1954c;
  --colormato: #7d973c;
  --colorouro: #f0f81f;
}

.footer{
  height: 5%;
  width: 100%;
  padding: 20px;
  font-size: 12px;
}