@import url(./global.css);
@import url(./styleheader.css);



.container,.form_login{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    height: 70%;
    width: 100%;
}

.form_login{
    flex-direction: column;
    padding: 10px;
    height: 200px;

}

.form_login h1{
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.form_login input, button{
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    max-width: 300px ;
}

.form_login input{
    margin-bottom: 10px;
    outline: none;
}

.form_login button{
    cursor: pointer;
    background-color: var(--colorouro);
    color: black;
}

.form_login button:disabled{
    background-color: rgba(128, 128, 128, 0.1);
    color: rgba(128, 128, 128, 0.516);
    cursor: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
.footer{
    height: 10%;
    width: 100%;
}
>>>>>>> fbec785eaed98b747159efc8d053a45362f41586
=======
.footer{
    height: 10%;
    width: 100%;
}
>>>>>>> fbec785eaed98b747159efc8d053a45362f41586
